In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5'], columns=["Col 1", "Col 2", "Col 3", "Col 4"])

df

       Col 1  Col 2  Col 3  Col 4
Row 1      0      1      2      3
Row 2      4      5      6      7
Row 3      8      9     10     11
Row 4     12     13     14     15
Row 5     16     17     18     19

In [8]:
df.to_csv('Test.csv')